body{
  margin: 5% 20% 0 20%;
  font-family: 'Oxygen', sans-serif;
}

nav, #category, .home, header, .pagination, footer{
    text-align: center;
}

nav a {
    font-size: 24px;
}

.post-header h1{
    margin-bottom: 5px;
}

h1{ color:rgb(66, 63, 64); }
a{ color:black; color:rgb(66, 63, 64); text-decoration:none; }
a:hover {text-decoration:underline; }
ol,ul{ list-style-type: none; padding: 0; margin: 0;}
p{ font-size: 20px; }
#pr_list p{ margin: 0px; }

button {
    margin: 10px 0;
    font-size:16px;
}

.button_link{
    padding: 5px;
    margin: 0 5px;

}
.post-content{
      text-align: justify;
  line-height: 28px;
}
.item-title{
     font-size: 22px;
}
.items-notes{
    display: flex;
    flex-wrap: wrap;
}
.items-notes li {
    width: 30%;
    margin: 0 1% 50px;
    flex-grow: 1;
    text-align: center;
}
.items-notes li a {
    display: block;
}

footer{
    margin-top: 10px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  body{ font-size: 80%; margin: 10%; }
  h1 { font-size: 22px; }
  p{ font-size: 18px; }
  #items li{
      width: 80%;
  }
}
