body{
  margin: 5% 20% 0 20%;
  font-family: 'Oxygen', sans-serif;
}

nav a {
    font-size: 24px;
}

h1{ color:rgb(66, 63, 64); }
a{ color:black; color:rgb(66, 63, 64); }
ol,li{ list-style-type: none; }
p{ font-size: 20px; }
#pr_list p{ margin: 0px; }

button {
    margin: 10px 0;
    font-size:16px;
}

.item-title{
     font-size: 22px;
}
#items li {
    margin-bottom: 10px;
}

footer{
    margin-top: 10px;
}

@media only screen and (max-width: 500px) {
  body{ font-size: 80%; margin: 10%; }
  h1 { font-size: 22px; }
  p{ font-size: 18px; }
}
